<% content_for :head do %>
  <%= javascript_script_tag "/jquery.js", "/jquery.caret.min.js", "/jquery.color.js", "/util.js", "/edit.js" %>
<% end %>

<% content_for :header do %>
 <h1>gyaazz<%= params[:splat].to_s %></h1>
<% end %>

<div id="edit"></div>
