<html>
<head>
<title>gyaazz</title>
</head>

<body>
<h1>gyaazz API</h1>
<ul>
  <li>get
    <ul>
      <li><a href="./(name)">/(name).json</a> get value</li>
    </ul>
  </li>
</ul>
<hr />
<a href="http://github.com/shokai/sensor-storage">github.com/shokai/sensor-storage</a>
</body>
</html>
