<h1>gyaazz API</h1>
<ul>
  <li>get
    <ul>
<li><a href="./(name)/">/(name)/</a> get pages</li>
<li><a href="./(name)/(page)"> </a></li>
    </ul>
  </li>
</ul>
<hr />
<a href="http://github.com/shokai/sensor-storage">github.com/shokai/sensor-storage</a>
