<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <% yield_content :head %>
  <title><%= @title %></title>
</head>
<body>
<div class="container">
  <div class="head">
    <% yield_content :header %>
  </div>
  <div class="main">
    <%= yield %>
  </div>
  <div class="push"></div>
  <div id="status"></div>
</div>
<div class="footer">
  <p>shokai.org</p>
</div>
</body>
</html>
