<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag @root_path+"edit.css" %>
  <%= javascript_script_tag "/jquery.js", "/jquery.caret.min.js", "/util.js", "/edit.js" %>
  <title><%= @title %></title>
</head>
<body>
  <%= yield %>
</body>
</html>
