<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>gyaazz<%= params[:splat].to_s %> search</title>
</head>
<h1>gyaazz<%= params[:splat].to_s %></h1>
<body>
</body>
</html>
