* {
  margin: 0;
  font-family : Helvetica, 'Hiragino Kaku Gothic Pro', sans-serif;
}

html, body { height : 100%; }

a { 
  text-decoration : none;
}

a, 
a:active,
a:link {
    color : #3993D2;
}

a:hover {
    color : #39B5D2;
}

.head {
    height : 40px;
    padding : 10px 15px;
    border-bottom : 3px solid #000;
}

.head h1 {
    font-family : Helvetica, sans-serif;
    font-weight : bold;
    font-size : 230%;
}

.container {
    margin : 0px 10px;
    background : #FFF;
    min-height: 100%;
    height : auto !important;
    height : 100%;
    margin : 0 auto -30px;
}

.main {
    margin : 10px;
    min-height : 80%;
    background : #fff;
    border : 6px dotted #000;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding : 10px;
}

.footer {
    border-top : 3px solid #000;
    padding-top : 5px;
    padding-left : 10px;
}

.footer p {
    font-size : 95%;
    color : #777;
}

.footer, .push {
    height :22px;
}

span.line{
    padding-left : 1em;
    margin-left : -1em;
}

ul {
    list-style: none;
    margin-left: 0em;
    padding-left: 1em;
    text-indent: -1em;
    width: 95%;
    font-size : 120%;
}

ul li input {
  width : 100%;
}

ul li:before {
    content: "\00BB \0020";
    font-size : 90%;
}

ul li {
    padding-left : 8px;
    border-bottom : 2px dashed #eee;
}
/*
 * Color animation does not work,
 * thus I apply color in edit.js ...
 *
  li.current_block {
      background-color: #fef4f4;
  }
*/

div#status{
    display: none;
    font-size: 180%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #FFF;
    background-color: #666;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 3px #666 solid;
}

div#edit{
}
