
div#status{
    font-size: 30pt;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #666;
    color: #FFF;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: none;
    border-radius: 20px;
}

div#edit{
}